@import "tailwindcss";

:root {
  --background: #f8f6f2;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
}

.newspaper-title {
  font-family: var(--font-serif);
  letter-spacing: -0.04em;
}

.newspaper-border {
  border-color: #d6d1c8;
}